.about {
  text-align: center;
}

.import_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.import_row p {
  padding-left: 30px;
}
#data_path{
  width: 400px;
}

.bt{
  margin-top: 20px;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  /*box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);*/
  border-radius: 8px;
  pointer-events: auto;
}
.bt:hover{
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  background-position: 100% 0;
}
#cvt_bt_import {
  width: 100px;
  height: 25px;
}
#cvt_bt_convert {
  width: 100px;
  height: 25px;
}

.data_id {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.correlation_id {
  width: 450;
  display: flex;
  flex-direction: column;
}
.correlation_id select {
  width: 200px;
}
.age_id {
  padding-left: 30px;
  width: 450;
  display: flex;
  flex-direction: column;
}
.age_id select {
  width: 200px;
}

.depth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.depth_definition {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#cvt_data__table {
  padding-top: 20px;
  width: 100%;
  height: 300px;
  overflow: auto;
}

#cvt_source_chooser {
  display: flex;
  flex-direction: row;
  height: 100px;
}
#cvt_source_chooser div {
  padding-left: 20px;
}


