body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: transparent;
}

.base {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: transparent;
}
#toolbar {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  background-color: transparent;/*#f0f0f0;*/
  flex-direction: row;
  gap: 0px;
  padding: 0px;
  z-index: 100;
}
#scroller {
  /*Size is displayed size*/
  top: 100px;
  width: 100%;
  height: calc(100% - 35px);
  /*border: 1px solid lightblue;*/
  overflow-y: scroll;
  overflow-x: scroll;
  display: block;
  z-index: 1;
  background-color: transparent;
}

#canvasBase {
  /*Size is virtual full size. make blank area for getting scroll.*/
  overflow: hidden;
  position: relative;

  width: 2000px;
  height: 2000px;
  background-color: transparent;
}

#rasterCanvas {
  /*Size is displayed size*/
  top: 40px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
}

.rightsidemenu {
  position: fixed;
  right: 0px;
  width: 140px;
  background-color: #f0f0f0;
}

.hole_menu {
  position: fixed;
  bottom: 40px;
  right: 25px;
}
.hole_menu p {
  text-align: center;
}
#hole_list {
  max-height: 200px;
  width: 120px;
  max-width: 120px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  background-color: white;
  padding: 0px;
  white-space: nowrap;
}

#bt_reload {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 10;
}
#bt_reload img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_zoomin {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 10;
}
#bt_zoomin img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_zoom0 {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 10;
}
#bt_zoom0 img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_zoomout {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 10;
}
#bt_zoomout img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_measure {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}
#bt_measure img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_grid {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}
#bt_grid img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_finder {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_finder img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_snapshot {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 10;
}

#bt_snapshot img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_divider {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_divider img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_pen {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_pen img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_target {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_target img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_rank {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_rank img {
  height: 75%;
  width: 100%;
  z-index: 10;
}
#bt_target {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_target img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_event_layer {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  background-color: lightgray;
  z-index: 10;
}

#bt_event_layer img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_core_photo {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  z-index: 10;
}

#bt_core_photo img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

#bt_connection {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  background-color: lightgray;
  z-index: 10;
}

#bt_connection img {
  height: 75%;
  width: 100%;
  z-index: 10;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  height: 30px; /* height */
  background-color: #f0f0f0; /* colour */
  color: #333;
  text-align: right;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
.footerLeft {
  text-align: left;
  padding-left: 10px;
}
.footerRight {
  display: flex;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footerLeftText {
  text-align: center;
}

#Yaxis {
  margin-right: 10px;
}

#p5Canvas {
  width: 500px;
  height: 500px;
  top: 40px;
  left: 0px;
  z-index: 0;
  position: absolute;
  pointer-events: none;
  background-color: transparent;
}
#p5penCanvas {
  width: 500px;
  height: 500px;
  top: 40px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
}
#p5measureCanvas {
  width: 500px;
  height: 500px;
  top: 40px;
  left: 0px;
  position: absolute;
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
}

#horizontal_target {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: 5;
  pointer-events: none;
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
