body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#title {
  color: #333;
  font-weight: bold;
  font-size:30px;
}

details {
  margin-left: 20px;
}

details summary {
  cursor: pointer;
}

label {
  margin-right: 20px;
  /*font-weight: bold;*/
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
}

#menu_button{
  margin-bottom: 20px;
}